/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  font-family: 'Pragati Narrow', sans-serif;
  height: 100%;
}

body {
  margin: 0;

}

div {
	font-family: 'Pragati Narrow', sans-serif;
}

.header {
	font-family: 'Questrial', sans-serif;
}